<?xml version="1.0"?>
<web-app id="WebApp_9" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>sakai-groovy-shell-2</display-name>
	<description>Sakai Groovy Shell 2 Tool</description>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>WEB-INF/applicationContext.xml</param-value>
	</context-param>

	<!-- Use the Sakai Spring application context wrapper to reach components. -->
    <listener>
        <listener-class>org.sakaiproject.util.ContextLoaderListener</listener-class>
    </listener>
    
    <listener>
        <listener-class>org.sakaiproject.util.ToolListener</listener-class>
    </listener>

	
	<!--  Sakai filter -->
    <filter>
        <filter-name>sakai.request</filter-name>
        <filter-class>org.sakaiproject.util.RequestFilter</filter-class>
         <init-param>
        	<param-name>upload.enabled</param-name>
        	<param-value>false</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>sakai.request</filter-name>
        <servlet-name>sakai.sgs2.gwt.rpc</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
	
	<servlet>
		<servlet-name>sakai.sgs2.gwt.rpc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>sakai.sgs2.gwt.rpc</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>sakai.sgs2.gwt</servlet-name>
		<servlet-class>
			org.sakaiproject.sgs2.server.GwtRedirectServlet
		</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	
	<welcome-file-list><welcome-file>/Sgs2.html</welcome-file></welcome-file-list>
	
</web-app>
